@import url(./style/root.css);
@import url(./style/reset.css);
@import url(./style/default.css);
@import url(./style/section.css);
@import url(./style/app.css);
/* @import url("https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic&family=Noto+Sans+KR&family=Quicksand&display=swap"); */
/* font-family: 'Quicksand','Jua','Nanum Gothic','Noto Sans KR' */
html,
body {
    position: relative;
    width: 100%;
    height: 100dvh;
    min-height: 100%;
}
body{
    padding: 30px;
    /* font-size: .9em; */
}
