
.header-clock{
    font-size: 3em;
    margin: 10px 0;
} 


/* --------------------------------- */
.app-search{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    & .search-form{
        width: 100%;
        max-width: 350px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    & .search-bar{
        width: 100%;
        display: flex;
        align-items: center;
        border-radius: 60px;
        padding: 10px 20px ;
        background: var(--search-background);
        & input{
            border: 0;
            outline: none;
            padding: 5px 5px;
            margin-left: 5px;
            color: #000;
            font-size: 1em;
            width: 100%;
            background: inherit;
        }
        & input::placeholder{
            color: #adadad;
        }
        & i,.search-site-icon{
            color: #adadad;
        }
        & .fa-youtube{
            color: #ff0000;
        }
    }
}


/* --------------------------------- */


.app-quicklink{
    align-items: flex-start;
    justify-content: space-around;
    gap:5px;
    & h3{
        flex-basis: 100%;
        text-align: center;
        margin: 10px 0 20px 0;
    }
    & .quicklink{
        width: 55px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center; 
        font-size: .7em;
        margin-bottom: 20px;
        & a{
            display: block;
            width: 100%;
            & img{
                width: 40px;
                height: 40px;
                padding: 10px;
                background: #ffffffc7;
                border-radius: 10px;
            }
            & .q-title{
                width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                word-break: break-word;
                    
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;/* ? */
            }
        }
    }
}

.app-todo{
    & #todo-form{
        width: 100%;
        & .todo-bar{
            width: 100%;
            display: flex;
            align-items: center;
            border-radius: var(--radius-round);
            background: var(--color-card-input);
            padding: 10px 20px;
            margin-bottom: 10px;
            & input{
                margin-left: 5px;
                padding: 5px 5px;
                color: #000;
                font-size: 1em;
                width: 100%;
                background: inherit;
            }
            & .fa-plus{
                /* color: #adadad; */
                cursor: pointer;
            }
            & input:valid ~ button .fa-plus{
                color: #000;
            }
        }
        & #todo-show{
            width: 100%;height: auto;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column-reverse;

            & .box-todo-item{
                padding: 15px 20px 15px 20px;
                margin-bottom: 10px;
                font-size: 1em;
                width: 100%;
                height: auto;
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                border-radius: var(--radius-round);
                background: var(--color-card-input);
                & span{
                    width: calc(100% - 35px);
                    word-wrap: break-word;
                }
                & i{
                    margin-left: 10px;
                    cursor: pointer;
                    color: #adadad;
                    &:hover{
                        color: #000;
                    }
                }
            }
        }
    }
}


/* --------------------------------- */




#quicklink-form{
    gap: 5px;
    & div{
        width: 100%;    
        display: flex;
        flex-wrap: wrap;
        & input{
            margin-bottom: 5px;
            width: 100%;
        }
    }
    & button{
        flex-basis: 50px;
        padding: 5px;
    }
}
#quicklink-type-select{
    width: 50%
}