.box{
    /* border: 1px #000 solid;
    padding: 10px 30px; */
    /* text-align: center; */
}

.box-today
.box-clock
.box-greeting{
    font-size: 2em;
}

.box-search{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box-search-form{
    width: 50%;
    min-width: 300px;
    max-width: 600px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    margin: 5px 5px;
}
.search-bar{
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px ;
    background: var(--search-background);
}
.box-search input{
    border: 0;
    outline: none;
    padding: 5px 5px;
    margin-left: 5px;
    color: #000;
    font-size: 1em;
    width: 100%;
    background: inherit;
}
::placeholder{
    color: #adadad;
}
.search-bar i{
    color: #adadad;
}
.search-bar .fa-youtube{
    color: #ff0000;
}

.box-quicklink{
    width: 300px;
    padding: 15px;
    margin: 7px 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-radius: var(--radius1);
    background: var(--card-background);
}
.box-quicklink h3{
    flex-basis: 100%;
    text-align: center;
    margin: 10px 15px;
}
.quicklink{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    font-size: .7em;
}
.quicklink a{
    max-width: 50px;
}
.quicklink a img{
    width: 40px;
    height: 40px;
    padding: 10px;
    background: #ffffffc7;
    border-radius: 10px;
}


/* --------------------------------- */

.box-todo{
    width: 300px;
    height: 100%;
    padding: 15px;
    margin: 7px 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-radius: var(--radius1);
    background: var(--card-background);
}
.box-todo h3{
    flex-basis: 100%;
    text-align: center;
    margin: 10px 15px;
}
#todo-form{
    width: 100%;
    /* display: flex;
    flex-wrap: nowrap;
    align-items: center; */
}
.todo-bar{
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: var(--radius-round);
    background: var(--color-card-input);
    padding: 10px 20px;
}
.box-todo input{
    border: 0;
    outline: none;
    padding: 5px 5px;
    color: #000;
    font-size: 1em;
    width: 100%;
    background: inherit;
}



/* --------------------------------- */
.box-timer{
    width: 300px;
    height: 100%;
    padding: 15px;
    margin: 7px 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-radius: var(--radius1);
    background: var(--card-background);
}
.box-timer h3{
    flex-basis: 100%;
    text-align: center;
    margin: 10px 15px;
}






.box-setting{
    height: 100vh;
    width: 350px;
    position: absolute;
    z-index: 100;
    top: 0px;
    right: 0;
    background: #0000009c;

}
.setting-btn{
    position: absolute;
    z-index: 100;
    top: 0px;
    right: 10px;
}
.setting-btn:hover{
    animation: spin 2s infinite linear;
}

@keyframes spin {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
