/* -----------------------------

#s1>.box-title
    .box-time
    .box-today
    .box-greetng

#s2>.box-search>.box-search-form>.search-bar>input
                .box-search-form>.search-bar>input

#s3>.box-quicklick?
    .box-todo>#todo-form>.todo-bar>input
                        >.todo-show
    .box-timer
#s0

----------------------------- */
#s0,#s1,#s2,#s3,#s0-box{
    border: 1px dotted #000;
}
#s1,#s2,#s3{
    width: 100%;
    padding: 15px 0px;
}
#s1{
   padding: 0 10px; 
}
#s3{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
}
/* -----------------------------> 설정화면
#s0>.s0-bg
   >.s0-box>.set-boxs#s0-s1>#s0-s1-1 👉 title
                            #s0-s1-2 👉 time
                            #s0-s1-3 👉 today
                            #s0-s1-4 👉 greetng
            .set-boxs#s0-s2>#s0-s2-1 👉 youtube
                            #s0-s2-2 👉 google
            .set-boxs#s0-s3>#s0-s1-1 👉 quicklink
                            #s0-s1-2 👉 todo list
                            #s0-s1-3 👉 timer
            
#set-door>i
*/
#s0{
    /* z-index: -100; */
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}